/* .social-media {
    position: relative;
  
    display: flex;
    justify-content: space-between;
  }
  .social-media i {
    color: #002848;
  }
  .social-media a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #0074d9;
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
  }
  
  .social-media i:hover {
    color: aqua;
  }
  .social-media a:hover::before {
    width: 100%;
  }
  .social-media a::before {
    content: "";
    position: absolute;
    background: #0074d9;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
  }. */

.background{
  background: linear-gradient(180deg,#002848,#0074d9);
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #quote{
    color: red;
    font-size: .5rem;
    text-align: left;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  
  .news-input{
    width:90%
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .social-media {
   
  
    
    
  }
  .social-media i {
    color: #002848;
  }
  .social-media a {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 1px solid #0074d9;
    border-radius: 50%;
    font-size: 1.2rem;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
  }
  
  .social-media a:hover {
    color: white;
  }
  .social-media a:hover::before {
    width: 100%;
  }
  .social-media a::before {
    content: "";
    position: absolute;
    background: #0074d9;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.5s;
  }
  
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }